

/* ==========================================================================
   Author's custom styles
   ========================================================================== */



.jumbotron{
	padding-top: 0;
}
.salutation{
	color: #FFF;
    float: right;
    font-size: 20px;
    margin: 14px 0;
}
.navbar-brand{
	background: url('../img/logo.png') no-repeat 0 -5px transparent;
	width: 260px;
	text-indent: -999px;
}

.articles .item{padding-bottom: 20px; border-bottom: 1px solid #d5d5d5}
.articles .item img{float: left; margin-right: 20px;}













